# VSCode Workspace Settings #
.vscode

# NPM #
##########
node_modules
package-lock.json

# Compiled Files and Build Dirs #
##########
/README.html

# developer directories
develop/**
.vscode
.config.js

# Composer #
##########
vendor
assets/**
wpcs/
composer.lock

# Anything by PHPStorm
.idea/**/*

images

yarn.lock